body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
    color: white;
   
}


.head{
    text-align: center;
}

img{
    width: 410px;
    height: auto;  
    display: block;
    margin: auto;
}

