body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
}


.head{
    text-align: center;
}

 .one{
    color: lightgoldenrodyellow;
}

img{
    width: 410px;
    height: auto;  
    display: block;
    margin: auto;
}

